# Node modules
node_modules/

# Build output 

dist/
build/

# Environment variables ignre
.env

# Logs
logs/
*.log
npm-debug.log*

# OS-specific
.DS_Store
Thumbs.db

# IDEs
.idea/

# TypeScript cache
*.tsbuildinfo

# /src/generated/prisma
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
branch_structure.json
